.star_button {
  background-color: transparent;
  border: none;
}

.star {
  /* stroke: yellow; */
  border: 4px solid yellow;
  /* font-size: 10px; */
  height: 15px;
  width: 15px;
}

.star_filled {
  background-color: yellow;
}

.star_selected {
  padding: 2px;
}

.star_big {
  /* font-size: 30; */
  height: 30px;
  width: 30px;
}
