.star_button {
  background-color: transparent;
  border: none;
}

.star {
  border: 4px solid yellow;
  height: 15px;
  width: 15px;
}

.star_filled {
  background-color: yellow;
}

.star_selected {
  padding: 2px;
}

.star_big {
  height: 30px;
  width: 30px;
}
