.chips__button {
  border: 2px solid rgb(111, 110, 110);
  padding: 3px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 15px;
  background: gray;
  height: 20px;
}

.chips {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30px;
}

.chips__button:hover {
  color: white;
  border: 2px solid rgb(29, 29, 39);
  background-color: rgb(70, 70, 98);
}

.isChecked {
  background-color: rgb(70, 70, 98);
  color: rgb(197, 179, 88);
}

.chips__input {
  display: none;
}
