.header {
  padding: 30px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(29, 29, 39);
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.snowfall {
  display: flex;
  gap: 10px;
  align-items: center;
  top: 0;
}

.snowfallText {
  color: white;
  font-size: 17px;
  margin-left: auto;
}

.snowfallSwitch {
  margin-top: 7px;
}

.header_btn {
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-left: auto;
}

.header_btn:hover *,
.header_btn:hover {
  color: rgb(197, 179, 88);
}

.icon_author {
  width: 20px;
  height: 20px;
  fill: white;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
