.header {
  padding: 30px 15px;
  display: flex;
  gap: 30px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(29, 29, 39);
  width: 100%;
}

.header_btn {
  position: relative;
  height: 20px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  right: 0;
}

.header_btn:hover *,
.header_btn:hover {
  color: rgb(197, 179, 88);
}

.icon_author {
  width: 20px;
  height: 20px;
  fill: white;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
